/eln-cache/
/elpa/
/history
/ido.last
/places
/recentf
/smex-items
/transient/
/server/
/auto-save-list/
/eshell/history
/bookmarks
*.elc
/url/
/.mc-lists.el
/request/
/projects
/network-security.data
/newsticker/
/image-dired/
/emms/
/eww-bookmarks
/abbrev_defs
/tramp
/devdocs/
/package-quickstart.el
/eshell/lastdir
/org-persist/
/multisession/
