/eln-cache/
/elpa/
/history
/ido.last
/places
/recentf
/smex-items
/transient/
/server/
/auto-save-list/
/eshell/
/bookmarks
*.elc
/url/
/.mc-lists.el
/request/
/projects
/network-security.data
/newsticker/
/image-dired/
