/*--><![CDATA[/*><!--*/
html {
    font-family:sans-serif;
    line-height:1.15;
}
body {
    color:#000;
    margin: 0 auto;
    max-width: 25cm;
    hyphens: auto;
    overflow-wrap: break-word;
    font-size:12pt;
    line-height:1.4em;
    font-family:sans-serif;
}

.note::before, .warning::before, .tip::before, .caution::before, .important::before {
    content: attr(class);
    text-transform: uppercase;
    font-weight: 500;
    width: fit-content;
    padding: 0 0.5rem;
    border-radius: 0.45rem;
    display: block;
    color: #fff;
    position: relative;
    transform: translate(-1.5rem,-70%);
}
.note::before {
    background-color: #217ee7;
}
.warning::before {
    background-color: #e18114;
}
.tip::before {
    background-color: #41af46;
}
.caution::before {
    background-color: #a0439c;
}
.important::before {
    background-color: #d32f2f;
}
.note, .warning, .tip, .important, .caution {
    border: 1px solid #d0d0d0;
    border-radius: 0.25em;
    margin: 2em 2%;
    padding: 0.25em 1em;
}
.note > p, .warning > p, .tip > p, .important > p, .caution > p {
    margin-top:0;
}

@media screen {
    body {
        background-color:#f0f0f0;
        margin: 0 auto;
        padding-top: 1.5cm;
    }
    .content {
        background-color:#fff;
        border: 1px solid #e0e0e0;
        padding: 1cm 2cm 1cm 2cm;
    }
    .sidebar {
        max-width: 22em;
        border: 1px solid #e0e0e0;
        border-radius: 0.5em;
        background-color: #fff;
        margin: 0.5em -30em 0.5em 1em;
        padding: 0.5em;
        padding-left: 0.7em;
        clear: right;
        float: right;
        font-size: small;
    }
}
@media print {
    body {
        background-color: transparent;
        color: black;
        margin: 0 auto;
        padding: 3em 3em 2em 2em;
    }
    p {
        orphans: 3;
        widows: 3;
    }
    h1, h2, h3, h4, h5, h6 {
        orphans: 3;
        widows: 3;
        page-break-after: avoid;
    }
    .note, .warning, .tip, .important, .caution {
        orphans: 3;
        widows: 3;
    }
    .sidebar {
        border: 1px solid #e0e0e0;
        border-radius: 0.5em;
        background-color: #fff;
        padding: 0.5em;
        font-size: small;
    }

    pre, .org-src-container>pre {
        overflow:auto;
        white-space: pre-wrap;
    }
    .org-src-container>pre:before {
        page-break-after: avoid;
        orphans: 3;
        widows: 3;
    }
}
a {
    color:#527d9a;
    text-decoration:none;
    background-color:inherit;
    font:inherit;
}
a:hover {
    color:#035;
    text-decoration:underline
}
p {
    margin:1em auto;
    padding:0
}
dl, ol, ul {
    margin:0 auto
}
article, aside, details, figcaption, figure, footer,
header, main, menu, nav, section, summary {
    display:block
}
audio, canvas, progress, video {
    display:inline-block
}
audio:not([controls]) {
    display:none;
    height:0
}
progress {
    vertical-align:baseline
}
abbr[title] {
    border-bottom:none;
    text-decoration:underline;
    -webkit-text-decoration:underline dotted;
    text-decoration:underline dotted
}
dfn {
    font-style:italic
}
mark {
    background-color:#ff0;
    color:#000
}
small {
    font-size:80%
}
sub, sup {
    font-size:75%;
    line-height:0;
    position:relative;
    vertical-align:baseline
}
sub {
    bottom:-.25em
}
sup {
    top:-.5em
}
img {
    border-style:none
}
svg:not(:root) {
    overflow:hidden
}
code, kbd, pre, samp {
    font-family:monospace;
    font-size:1em
}
figure {
    margin:1em 40px
}
hr {
    box-sizing:content-box;
    height:0;
    overflow:visible
}
button, input, optgroup, select, textarea {
    font:inherit;
    margin:0
}
optgroup {
    font-weight:700
}
button, input {
    overflow:visible
}
button, select {
    text-transform:none
}
fieldset {
    border:1px solid silver;
    margin:0 2px;
    padding:.35em .625em .75em
}
legend {
    box-sizing:border-box;
    color:inherit;
    display:table;
    max-width:100%;
    padding:0;
    white-space:normal
}
textarea {
    overflow:auto
}
[type=checkbox], [type=radio] {
    box-sizing:border-box;
    padding:0
}
.title {
    margin:.8em auto;
    color:#000;
    border-bottom: none;
}
.subtitle {
    font-size:1.1em;
    line-height:1.4;
    font-weight:700;
    margin:-1em auto 1em auto
}
.subtitle, .title {
    text-align:center
}
.abstract {
    margin:auto;
    width:80%;
    font-style:italic
}
.abstract p:last-of-type:before {
    content:"    ";
    white-space:pre
}
.status {
    font-size:90%;
    margin:2em auto
}
[class^=section-number-] {
    margin-right:.5em
}
[id^=orgheadline] {
    clear:both
}
#footnotes {
    font-size:90%
}
.footpara {
    display:inline;
    margin:.2em auto
}
.footdef {
    margin-bottom:1em
}
.footdef sup {
    padding-right:.5em
}
figure {
    padding:0;
    margin:1em auto;
    text-align:center
}
img {
    max-width:100%;
    vertical-align:middle
}
h1, h2, h3, h4, h5, h6 {
    color:#000000;
    border-bottom: thin solid #e1e1e1;
    line-height:1em;
    margin-top:1.5em;
    margin-bottom:0.5em;
    padding: 0;
    font-weight:bold;
    font-family:serif
}
h1, h2, h3 {
    line-height:1.4em
}
h4, h5, h6 {
    font-size:1em;
}
dt {
    font-weight:700
}
table {
    margin:1em auto;
    border-top:2px solid;
    border-collapse:collapse
}
table, thead {
    border-bottom:2px solid
}
table td+td, table th+th {
    border-left:1px solid grey
}
table tr {
    border-top:1px solid #d3d3d3
}
td, th {
    padding:.3em .6em;
    vertical-align:middle
}
caption.t-above {
    caption-side:top
}
caption.t-bottom {
    caption-side:bottom
}
caption {
    margin-bottom:.3em
}
figcaption {
    margin-top:.3em
}
th.org-center, th.org-left, th.org-right {
    text-align:center
}
td.org-right {
    text-align:right
}
td.org-left {
    text-align:left
}
td.org-center {
    text-align:center
}
blockquote {
    margin:1em 2em;
    padding-left:1em;
    border-left:3px solid #ccc
}
kbd {
    background-color:#f7f7f7;
    font-size:80%;
    margin:0 .1em;
    padding:.1em .6em
}
.done, .todo {
    color:#fff;
    padding:0 .3em;
    border-radius:3px;
    background-clip:padding-box;
    font-family:monospace;
}
.todo {
    background-color:red
}
.done {
    background-color:green
}
.priority {
    color:orange;
    font-family:monospace
}
#table-of-contents li {
    clear:both
}
.tag {
    font-family:monospace;
    font-size:.7em;
    font-weight:400
}
.tag span {
    padding:.3em;
    float:right;
    margin-right:.5em;
    border:1px solid #bbb;
    border-radius:3px;
    background-clip:padding-box;
    color:#333;
    background-color:#eee;
    line-height:1
}
.timestamp {
    color:#bebebe;
    font-size:90%
}
.timestamp-kwd {
    color:#5f9ea0
}
.org-right {
    margin-left:auto;
    margin-right:0;
    text-align:right
}
.org-left {
    margin-left:0;
    margin-right:auto;
    text-align:left
}
.org-center {
    margin-left:auto;
    margin-right:auto;
    text-align:center
}
.underline {
    text-decoration:underline
}
#postamble p,
#preamble p {
    font-size:90%;
    margin:.2em
}
p.verse {
    margin-left:3%
}
:not(pre)>code {
    padding:2px 5px;
    margin:auto 1px;
    border:1px solid #ddd;
    background-color:#f7f7f3;
    border-radius:3px;
    background-clip:padding-box;
    color:#000;
    font-size:80%
}

/* highglighting */
.org-function-name {
    color:#af00af
}
.org-keyword {
    color:#005faf
}
.org-builtin {
    color:#870087
}
.org-string, .org-doc {
    color:#008700
}
.org-comment,
.org-comment-delimiter {
    color:#8a8a8a;
    font-style:italic;
}
.org-preprocessor {
    color:#008787
}
.org-type {
    color:#af5f00
}
.org-variable-name {
    color:#870087
}
.org-constant {
    color:#af0000
}
.org-warning {
    color:#ff8c00;
    font-weight:700
}
.org-error {
    color:red;
    font-weight:700
}
.org-escape-glyph {
    color:#8700ff
}
pre.example, .org-src-container {
    border:1px solid #ccc;
    background-color:#f7f7f3;
    border-radius: 3px;
    line-height:1.3;
    font-family:monospace;
    margin:1em auto;
    padding:.1em .5em;
    position:relative
}
pre.example {
    padding:1em 0.5em;
}
pre.src {
    padding:1em 0.2em;
    margin:0;
}
pre.example, .org-src-container>pre {
    overflow:auto;
}
.org-src-container>pre:before {
    display:block;
    position:absolute;
    background-color:#888;
    top:0;
    right:0;
    padding:1mm 2mm;
    border-bottom-left-radius:8px;
    border-top-right-radius:2px;
    border:0;
    color:#fff;
    font-size: 80%;
}
.org-src-container>pre.src-sh:before {
    content:"sh"
}
.org-src-container>pre.src-bash:before {
    content:"bash"
}
.org-src-container>pre.src-emacs-lisp:before {
    content:"Emacs Lisp"
}
.org-src-container>pre.src-elisp:before {
    content:"Emacs Lisp";
}
.org-src-container>pre.src-R:before {
    content:"R"
}
.org-src-container>pre.src-cpp:before {
    content:"C++"
}
.org-src-container>pre.src-c:before {
    content:"C"
}
.org-src-container>pre.src-html:before {
    content:"HTML"
}
.org-src-container>pre.src-javascript:before,
.org-src-container>pre.src-js:before {
    content:"Javascript"
}
.org-src-container>pre.src-asymptote:before {
    content:"Asymptote"
}
.org-src-container>pre.src-awk:before {
    content:"Awk"
}
.org-src-container>pre.src-C:before {
    content:"C"
}
.org-src-container>pre.src-calc:before {
    content:"Calc"
}
.org-src-container>pre.src-clojure:before {
    content:"Clojure"
}
.org-src-container>pre.src-comint:before {
    content:"comint"
}
.org-src-container>pre.src-css:before {
    content:"CSS"
}
.org-src-container>pre.src-D:before {
    content:"D"
}
.org-src-container>pre.src-ditaa:before {
    content:"Ditaa"
}
.org-src-container>pre.src-dot:before {
    content:"Dot"
}
.org-src-container>pre.src-ebnf:before {
    content:"ebnf"
}
.org-src-container>pre.src-forth:before {
    content:"Forth"
}
.org-src-container>pre.src-F90:before {
    content:"Fortran"
}
.org-src-container>pre.src-gnuplot:before {
    content:"Gnuplot"
}
.org-src-container>pre.src-haskell:before {
    content:"Haskell"
}
.org-src-container>pre.src-io:before {
    content:"Io"
}
.org-src-container>pre.src-java:before {
    content:"Java"
}
.org-src-container>pre.src-latex:before {
    content:"LaTeX"
}
.org-src-container>pre.src-ledger:before {
    content:"Ledger"
}
.org-src-container>pre.src-ly:before {
    content:"Lilypond"
}
.org-src-container>pre.src-lisp:before {
    content:"Lisp"
}
.org-src-container>pre.src-makefile:before {
    content:"Make"
}
.org-src-container>pre.src-matlab:before {
    content:"Matlab"
}
.org-src-container>pre.src-max:before {
    content:"Maxima"
}
.org-src-container>pre.src-mscgen:before {
    content:"Mscgen"
}
.org-src-container>pre.src-Caml:before {
    content:"Objective"
}
.org-src-container>pre.src-octave:before {
    content:"Octave"
}
.org-src-container>pre.src-org:before {
    content:"Org"
}
.org-src-container>pre.src-perl:before {
    content:"Perl"
}
.org-src-container>pre.src-picolisp:before {
    content:"Picolisp"
}
.org-src-container>pre.src-plantuml:before {
    content:"PlantUML"
}
.org-src-container>pre.src-python:before {
    content:"Python"
}
.org-src-container>pre.src-ruby:before {
    content:"Ruby"
}
.org-src-container>pre.src-sass:before {
    content:"Sass"
}
.org-src-container>pre.src-scala:before {
    content:"Scala"
}
.org-src-container>pre.src-scheme:before {
    content:"Scheme"
}
.org-src-container>pre.src-screen:before {
    content:"Screen"
}
.org-src-container>pre.src-sed:before {
    content:"Sed"
}
.org-src-container>pre.src-shell:before {
    content:"shell"
}
.org-src-container>pre.src-shen:before {
    content:"Shen"
}
.org-src-container>pre.src-sql:before {
    content:"SQL"
}
.org-src-container>pre.src-sqlite:before {
    content:"SQLite"
}
.org-src-container>pre.src-stan:before {
    content:"Stan"
}
.org-src-container>pre.src-vala:before {
    content:"Vala"
}
.org-src-container>pre.src-axiom:before {
    content:"Axiom"
}
.org-src-container>pre.src-browser:before {
    content:"HTML"
}
.org-src-container>pre.src-cypher:before {
    content:"Neo4j"
}
.org-src-container>pre.src-elixir:before {
    content:"Elixir"
}
.org-src-container>pre.src-request:before {
    content:"http"
}
.org-src-container>pre.src-ipython:before {
    content:"iPython"
}
.org-src-container>pre.src-kotlin:before {
    content:"Kotlin"
}
.org-src-container>pre.src-Flavored Erlang lfe:before {
    content:"Lisp"
}
.org-src-container>pre.src-mongo:before {
    content:"MongoDB"
}
.org-src-container>pre.src-prolog:before {
    content:"Prolog"
}
.org-src-container>pre.src-rec:before {
    content:"rec"
}
.org-src-container>pre.src-ML sml:before {
    content:"Standard"
}
.org-src-container>pre.src-Translate translate:before {
    content:"Google"
}
.org-src-container>pre.src-typescript:before {
    content:"Typescript"
}
.org-src-container>pre.src-rust:before {
    content:"Rust"
}
.inlinetask {
    background:#ffc;
    border:2px solid grey;
    margin:10px;
    padding:10px
}
#org-div-home-and-up {
    font-size:70%;
    text-align:right;
    white-space:nowrap
}
.linenr {
    font-size:90%
}
.code-highlighted {
    background-color:#ff0
}
#bibliography {
    font-size:90%
}
#bibliography table {
    width:100%
}
.creator {
    display:block
}
/*]]>*/
